body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

.header-buttons button {
    background-color: #fff;
    border: 1px solid #4CAF50;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}

.header-buttons button:hover {
    background-color: #4CAF50;
    color: white;
}

.task-table {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
}


.task-table table {
    width: 100%;
    text-align: center;
}

.task-table th, .task-table td {
    padding: 10px;
}


button {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
}

button:hover {
    background-color: #ddd;
}


/* Estilos para el modal */
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 0; 
    border: 1px solid #888;
    width: 40%;
    border-radius: 10px;
    overflow: hidden; 
}

/* Header del modal */
.modal-header {
    background-color: #333; 
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
}

.modal-header h2 {
    margin: 0;
}

.modal-header .close {
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: none;
}


/* Botón de guardar */
.btn-guardar {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.btn-guardar:hover {
    background-color: #444;
}

